.filter-container {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    width: 20%;
    border-radius: 5px;
}

.filter-layout {
    display: inline-block;
}

button.filter-btn {
    width: 5rem;
    height: 2rem;
    margin: 0.5rem;
    background-color: #c1ec6c;
    border: none;
    border-radius: 5px;
}

button.selectedFilterBtn {
    background-color: rgb(117, 170, 10) !important;
}

.filter-by-launch, .filter-by-landing {
    margin-top: 1rem;
}

.filter-by-year, .filter-by-launch, .filter-by-landing {
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .filter-container {
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: white;
        width: 80%;
        border-radius: 5px;
    }
  }

  @media screen and (min-width: 700px) and (max-width: 1024px) {
    .filter-container {
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: white;
        width: 10rem;
        border-radius: 5px;
    }

    button.filter-btn {
        width: 4rem;
        height: 2rem;
        margin: 0.5rem;
        background-color: #c1ec6c;
        border: none;
        border-radius: 5px;
    }
  }

  @media screen and (min-width: 1024px) {
    .filter-container {
        margin: 0.5rem;
        padding: 0.5rem;
        background-color: white;
        width: 10rem;
    }

    button.filter-btn {
        width: 4rem;
        height: 2rem;
        margin: 0.5rem;
        background-color: #c1ec6c;
        border: none;
        border-radius: 5px;
    }
  }

button.right-margin {
    margin-right: 3rem;
}
