.dashboard-container {
    margin: 1rem;
    padding: 1rem;
    background-color:#e0dede;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

@media screen and (min-width: 700px) {  

    .programs {
        display: flex
    }
}

@media screen and (min-width: 1440px) {  

    .dashboard-container {
        width: 1440px;
        align-self: center;
    }
    .programs {
        display: flex
    }
}